@import '../../styles/shared.scss';

.titleCategory {
  display: flex;

  justify-content: center;
  padding-top: 15px;
  text-transform: capitalize;

  color: $primary-color;
  font-weight: 400;
  font-size: 24px;

  &:before {
    content: '';
    display: block;
    margin-right: 20px;
    width: 27px;
    background-image: url('../../images/icons/sets.svg');
    background-repeat: no-repeat;
  }
}

.productsList {
  margin-top: 15px;
}

.productItem {
  display: flex;
  padding: 18px 10px 18px 18px;
  justify-content: space-evenly;

  border-radius: 18px;
  background-color: $main-light-color;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.description {
  width: 187px;
}

.productLink :hover {
  color: $active-accent-color;
  transition: 0.3s,
}

.title {
  display: inline;
  font-size: 14px;
  line-height: 17px;
  color: $primary-color;
}

.text {
  font-size: 14px;
  line-height: 17px;
  color: $secondary-color;
}

.wrapper {
  display: flex;
  margin-top: 18px;

  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 18px;
  line-height: 23px;
  color: $primary-color;
}