@import '../../styles/shared.scss';

.footerContactsTitle {
  font-size: 18px;
  line-height: 22px;
  color: $secondary-color;
}

.contactIconsList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}