@import '../../styles/shared.scss';

.footerContactsTitle {
  line-height: 22px;
  color: $secondary-color;
}

.contactIconsList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.contactList {
  margin-top: 31px;

  span {
    text-decoration: underline;
  }
}

.contactItem:not(:first-child) {
  margin-top: 5px;
}