@import "../../styles/shared.scss";

.name {
  color: $main-dark-color;
  font-size: 24px;
  line-height: 30px;
}

.date {
  margin-left: 20px;
  color: $secondary-color;
  font-size: 18px;
}

.description {
  margin-top: 20px;
  font-weight: 400;
}