@import "../../styles/shared.scss";

.cart {
  margin-top: 10px;
  text-align: center;
}

.product {
  display: flex;
  padding: 13px 33px 13px 5px;
  align-items: center;


  background-color: $main-light-color;
  border-radius: 5px;

  &:not(:first-child) {
    margin-top: 7px;
  }
}

.product__description {
  margin-left: 14px;
  width: 100%;
}

.wrapper {
  display: flex;
  margin-top: 10px;
  align-items: center;
}


.amount__box {
  display: flex;
  align-items: center;
}

.product__summ {
  padding-left: 20px;
  font-weight: 700;

}

.total__box {
  margin-top: 10px;
  padding: 10px 0px;
  background-color: $main-light-color;
  border-radius: 5px
}

.total__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: $main-accent-color;
}

.total__list {
  margin-top: 10px;
}

.total__item {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;

  border-bottom: 1px solid $secondary-color;
}


.text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-color;
}

.total__text--bold {
  font-weight: 500;
}