@import '../../styles/shared.scss';

.header {
  position: relative;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  background-color: $main-light-color;
  border-bottom: 0.5px solid $secondary-color;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 9px 0px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.headerContacts {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.headerText {
  color: $main-dark-color;
  margin-bottom: 1px;
}

.headerPhone {
  color: $main-accent-color;
}

.headerTimeWorksBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconWatches {
  background-image: url('../../images/watches.svg');
  width: 15px;
  height: 15px;
}

.headerTimeWorks {
  color: $secondary-color;
}

.searchForm {
  position: absolute;
  top: 48px;
  // left: calc(50% - 180px);
  outline: 3px solid $main-accent-color;
  border-radius: 5px;
}