@import '../../styles/shared.scss';

.link {
  position: relative;
  cursor: pointer;
}

.cardImage {
  min-width: 161px;
  min-height: 156px;
}

.cardTitle {
  position: absolute;
  top: 10px;
  left: 11px;

  font-size: 18px;
  line-height: 22px;
  color: $main-light-color;
}

.cardPromoTitle {
  @extend .cardTitle;
  top: auto;
  bottom: 7px;
}

.cardSoon {
  position: absolute;

  top: 10px;
  right: 11px;
  padding: 2px 8px;
  border-radius: 10px;
  color: $main-light-color;
  background-color: #EB5757;

  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}