@import '../../styles/shared.scss';

.title {
  font-size: 24px;
  font-weight: 500;
}

.text {
  margin-top: 10px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $secondary-color;
}