@import '../../../styles/shared.scss';



.title {
  font-size: 24px;
  color: $secondary-color;
}

.text:not(:first-child) {
  margin-top: 10px;
}

.list {
  padding-left: 20px;
  margin-top: 10px;
  list-style: disc;
}

.descriptionFull {
  margin-top: 10px;
  width: 330px;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  color: $secondary-color;



}

.description {
  @extend .descriptionFull;

  height: 160px;
  overflow: hidden;
}


.hiddenBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 330px;
  height: 109px;
  background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
}