@import '../../styles/shared.scss';


.bottomNavLink {
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $main-dark-color;
}